body, html {
    height: 100%;
    width: 100%;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, *::after, *::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #1C2C34;
    font-family: MuseoSans,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #ECEDEE;
    -webkit-font-smoothing: antialiased;
}
.fa, body {
    -moz-osx-font-smoothing: grayscale;
}

.c-matrix {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.c-matrix {
    position: relative;
    margin-bottom: .4375rem;
    padding: 2.5rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
}

.c-matrix__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.c-matrix__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.c-matrix__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.c-matrix__wrapper {
    max-width: 1600px;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
        flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.c-matrix__item, .c-matrix__wrapper {
    padding-right: .625rem;
    padding-left: .625rem;
}
.c-banner__row, .c-cookie-consent, .c-email-signup__form, .c-image-plate__wrapper, .c-matrix__wrapper, .c-menu--style-stacked .c-menu__nav-list, .c-menu__nav-list, .c-package__row, .p-login .login-social {
    -webkit-box-direction: normal;
}
.c-banner__row, .c-cookie-consent, .c-email-signup__form, .c-footer__wrapper, .c-image-plate__wrapper, .c-matrix__wrapper, .c-menu__nav-list, .p-login .login-social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
        margin-right: 0px;
        margin-left: 0px;
    padding: 0;
        padding-right: 0px;
        padding-left: 0px;
}

.c-matrix::after {
    display: block;
    bottom: -6px;
    bottom: -.375rem;
}
.c-matrix::after, .c-matrix::before {
    background: #071820;
    box-shadow: 0 0 .1875rem 0 #91B5C5,inset 0 .0625rem .25rem 0 #071820;
    content: '';
    display: none;
    height: 5px;
    height: .3125rem;
    position: absolute;
    width: 100%;
    left: 0;
}
.c-matrix::after, .c-matrix::before, .c-package::after, .c-package::before {
    -webkit-box-shadow: 0 0 .1875rem 0 #91B5C5,inset 0 .0625rem .25rem 0 #071820;
    z-index: 999;
    right: 0;
}
